@charset "UTF-8";
/*
FULL WEBSITE CASCADING STYLE SHEET (CSS)
SWEET STYLE
*/


#pagetitle{
	font-family: vampireKissDemo;
    font-style: normal;
	font-weight: 400;
	font-size: 72px;
    text-align: center;
    color: #E3BBE7; 
	padding-top: 30px;
}
.content p, .content ul{
    background-color: #FEDAF2;
    padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.content h2{
	font-family: LUNA;
	font-size: 26px;
	color: #E3BBE7;
	padding-top: 10px;
	padding-left: 30px;
}

p, ul{
	font-family: Opificio;
	
}
.NavBar{
	text-align: center;
	background-color: #ECCEFE;
}
.menubutton:link, .menubutton:visited {
    background-color: #ECCEFE;
    color: white;
    padding: 10px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-family: Opificio;
}

.menubutton:hover, .menubutton:active {
    background-color: #E3BBE7;
}
.footer h4{
	font-family: Opificio;
	color: #FEDAF2; 
	background-color: #E7BAC2;
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: center;
}
/**
.ProfileBio {}

.PastProjects{}

#pig{}

#jukebox{}

#hgsloth{}

.Skills{}
**/