@charset "UTF-8";
@import url(montserrat-light.css);
@font-face {
    font-family: Montserrat-Light;
    src: url(https://github.com/google/fonts/blob/master/ofl/montserrat/Montserrat-Light.ttf);
}
/* CSS Document font-family: 'Montserrat', sans-serif;*/

body {
  	line-height: 1.5;
	margin: 0;
}
header{
	background-position: center top;
	background-image: url('../img/coverimage.jpg');
	/* Set a specific height */
    height: 25em; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.NavBar{
	z-index: 10;
	text-align: center;
	background-color: #B0C6D4;
	font-family: 'Raleway', san serif;
	font-size: 1.25em;
	letter-spacing: 0.25em;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
}

.menubutton:link, .menubutton:visited {
    color: white;
    padding: 0.2em 0.75em;
    text-align: center; 
    text-decoration: none;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    display: inline-block;
}
.menubutton:hover, .menubutton:active {
    background: #EFDCCE;
}
main{
	background: url(../img/cover.jpg);
	background-size: 150%;
	position: bottom;
}
.post{
	margin: 2em 5em;
	padding: 1em 2em 1em;
	background-color: #fff;
	color: #040404;
	opacity: 0.99;
	font-family: 'Raleway', sans-serif;
}
.space{
	font-size: 1px;
}
.post p, .post ul{
    padding: 0em 2.5em 2.5em;
	font-size: 1em;
    text-align: justify;
}
.post ul{
	padding-left: 2.5em;
}
.post h2{
	font-family: "Montserrat";
	font-size: 2.5em;
	letter-spacing: 10px;
	color: #F9CDBB;
	text-align: center;
}
.post .button{
	font-family: 'Montserrat', sans serif;
	font-size: 0.75em;
	padding: 0.25em 1em;
	margin-bottom: 1em;
	background: #fff;
	border: 2px solid;

   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}
form .button{
	padding: 0px;
}
.post .button:hover, .post .button:active {
    background: #F9CDBB;
	color: white;
}
.box-button{
	text-align: right;
	padding-right: 1em;
}
.post img{
	padding-bottom: 1em;
	padding-top: 1em;
}

.project-img{
	text-align: center;
}

form{
	margin-right: 0em;
	text-align: center;
}
form input{
	background: #fff;
	border: 0.25em solid;
}

#follow {
	margin: 0em 180px 2em;
	text-align: center;
}
#follow img{
	margin: 0;
	padding: 0;
}
.icon {
	width: 5em;
}
.icon:hover {
	opacity: 0.5;	
}
#follow h2{
	margin: 0;
	padding: 0;
	font-size: 2em;
	color: #B0C6D4;
}

footer{
	background-color: #B0C6D4;
	color: white;
	text-align: center;
	font-family: "Raleway", sans serif;
	padding: 0.5em;
}
a {
	text-decoration: none;	
}
