body{
	background-color: #c7d8fe
}
h1{
	font-family: megrim, fantasy;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #a8abe7;
}
p{
	font-family: pompiere, sans-serif;
	background-color: #bcf2fe;
    color: black;
    padding: 15px 5px;
    text-align: center; 
}
ul{
	font-family: pompiere, sans-serif;
}
.navbar{
	text-align: center;
}
a:link, a:visited {
    background-color: #c9b9fe;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-family: megrim, fantasy;
}

a:hover, a:active {
    background-color: #a8abe7;
}